on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./sam_lambda  # Correct path to sam_lambda

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Set up AWS SAM CLI
        uses: aws-actions/setup-sam@v1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Build SAM Application
        run: sam build

      - name: Deploy SAM Application
        run: sam deploy --no-confirm-changeset --stack-name sam-app-eksamen-2024-45 --s3-bucket pgr301-couch-explorers --capabilities CAPABILITY_IAM --region eu-west-1
